<div class="navbar navbar-default navbar-toggleable-md">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="padding-top:5px">
        <img alt="Brand" src="../../../assets/SpottrLogo.png" height="45">
      </a>
    </div>
    <div [hidden]="loggedIn">
      <a href="login" type="button" class="btn btn-default navbar-right" style="margin:10px">Login</a>
      <a href="signup" type="button" class="btn btn-default navbar-right" style="margin:10px">SignUp</a>
    </div>
    <div [hidden]="!loggedIn">
      <form class="navbar-form navbar-center" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Browse</button>
        </div>
        <button type="logout" class="btn btn-default navbar-right" (click)="logOut()">Log Out</button>
      </form>
    </div>
  </div>
</div>
<br>

