
<div class="container">
  <h1>Sign Up</h1>
  <form>
    <div class="form-group">
      <label for="fName">First Name</label>
      <input type="text" class="form-control" id="fName" required #fName>
    </div>

    <div class="form-group">
      <label for="lName">Last Naame</label>
      <input type="text" class="form-control" id="lName" required #lName>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control" id="phone" required #phone>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" required #address>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required #email>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required #password>
    </div>

    <button *ngIf="!showLogin" type="submit" class="btn btn-success" (click)="$event.preventDefault(); signUp(fName.value, lName.value, address.value, email.value, password.value)">Submit</button>
  </form>
</div>
